.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.three-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 100px;
  margin: 100px;
  background: #eeebeb;
  border: 1px dashed greenyellow;
}

.control-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.control-panel button {
  margin-left: 10px;
}

.play-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.cube {
  display: flex;
  min-width: 100px;
  height: 100px;
  border: 2px solid green;
}

.cube-update {
  border-color: red;
}

a {
  text-decoration: none;
}
